@using OnlineTestWeb.Models

<div class="title" style="color: blue; margin: 20px 0; text-align:center;">Chức Năng Học Sinh</div>
<ul class="list-group">
    <a href="@Url.Action("QuanLyCauHoi", "Teacher")"
       class="list-group-item list-group-item-action">
        Quản Lý Câu Hỏi
    </a>
    <a href="@Url.Action("QuanLyNhomCauHoi", "Teacher")"
       class="list-group-item list-group-item-action">
        Quản Lý Nhóm Câu Hỏi
    </a>
    <a href="@Url.Action("QuanLyDeThi", "Teacher")"
       class="list-group-item list-group-item-action">
        Quản Lý Đề Thi
    </a>
</ul>